@model IEnumerable<GSS.Models.Report>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutStudent";
}
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.RequetDate)</th>
                <th>@Html.DisplayNameFor(model => model.DueAmount)</th>
                <th>@Html.DisplayNameFor(model => model.IsPaid)</th>
                <th>@Html.DisplayNameFor(model => model.IsComplete)</th>
                <th>@Html.DisplayNameFor(model => model.IsPublished)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.RequetDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.DueAmount)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsPaid)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsComplete)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsPublished)</td>
                    <td>
                       
                        @if (item.IsPaid == true)
                        {
                            <a asp-action="Invoices" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-primary">View Invoice</a>
                        }
                        else if(@item.DueAmount > 0)
                        {
                            <a asp-action="PayNow" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-primary">Pay Invoice</a>
                        }


                        <a asp-action="ReportDetails" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">Details</a>


                        @if (item.IsComplete == true)
                        {
                            <a asp-action="PrintReport" asp-route-Id="@item.Id" class="btn btn-sm btn-outline-danger">Print Report</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
